.status {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .puede-circular {
    color: green;
  }
  
  .no-puede-circular {
    color: red;
  }

  .card-img {
    height: 200px; 
    object-fit: cover; 
  }


  footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }


  .escudo-bogota {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px; 
  }
  
  .img-responsive {
    max-width: 100%;
    height: auto;
  }

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 60px; /* Altura del footer */
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Altura del footer */
    background-color: #ffffff; /* Color de fondo blanco */
    color: #343a40; /* Color del texto (oscuro para contraste) */
    text-align: center;
    padding-top: 20px; /* Espaciado interior superior */
    border-top: 1px solid #343a40; /* Borde superior para separación */
  }